/* BANNER-SECTION-START */
.Simplified {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #016336;
}
.Elevate {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.btn !important {
  margin-top: 0px;
}
/* BANNER-SECTION-END */

/* financial-business-section-Style-Start */
.financial-business-section {
  width: 1400px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}
.financial-business-section .financial-business-section-left {
  /* padding: 10px; */
}
.financial-business-section .financial-business-section-left h2 {
  font-family: "Exo 2", sans-serif;
  width: 500px;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 150px;
  margin-left: 100px;
}
.financial-business-section .financial-business-section-left p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-left: 100px;
}
.financial-business-section .financial-business-section-right {
}
/* financial-business-section-Style-End */

/* FINANCIAL-IDENTITY-VERIFICATION-SECTION-Style-Start */
.FINANCIAL-IDENTITY-VERIFICATION-SECTION {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  width: 1400px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox1 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox1:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox1 img {
  width: 51px;
  height: 51px;
  background: none;
}
.financial-h2 {
  width: 393.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
}
.financial-p {
  width: 393.33px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox2 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox2:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox2 img {
  width: 51px;
  height: 51px;
  background: none;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox3 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox3:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox3 img {
  width: 51px;
  height: 51px;
  background: none;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox4 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox4:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox4 img {
  width: 51px;
  height: 51px;
  background: none;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox5 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox5:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox5 img {
  width: 51px;
  height: 51px;
  background: none;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox6 {
  width: 395px;
  height: 204px;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 20px;
  background: #d9f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox6:hover {
  transform: scale(1.02);
}
.FINANCIAL-IDENTITY-VERIFICATION-SECTION .ibox6 img {
  width: 51px;
  height: 51px;
  background: none;
}
/* FINANCIAL-IDENTITY-VERIFICATION-SECTION-Style-End */

/* SIMPLE-EASYER-SECTION-STYLE-START */
.simpleEasyer-Section-content .simple-header {
  background: none;
  position: absolute;
  top: 2350px;
  left: 345px;
  font-family: "Exo 2", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content .simple-content {
  background: none;
  position: absolute;
  top: 2420px;
  left: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  width: 927px;
  height: 57px;
}
.simple-box-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  position: relative;
}
.simple-box-content .Sbox-1 {
  position: absolute;
  top: -600px;
  left: 300px;
  width: 252.67px;
  height: 309px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  gap: 20px;
  background: #ffffff;
  transition: 0.5s;
}
.simple-box-content .Sbox-1:hover {
  transform: scale(1.03);
}
.simple-box-content .Sbox-1 img {
  position: absolute;
  top: -170px;
  left: -160px;
  height: 51px;
  width: 51px;
  padding: 3.73px 0.5px 3.73px 0.5px;
}
.simple-box-content .Sbox-1 h4 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 260px;
  height: 42px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
}
.simple-box-content .Sbox-1 p {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 260px;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.simple-box-content .Sbox-2 {
  position: absolute;
  top: -600px;
  left: 630px;
  width: 252.67px;
  height: 309px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  gap: 20px;
  background: #ffffff;
  transition: 0.5s;
}
.simple-box-content .Sbox-2:hover {
  transform: scale(1.03);
}
.simple-box-content .Sbox-2 img {
  position: absolute;
  top: -170px;
  left: -160px;
  height: 51px;
  width: 51px;
  padding: 3.73px 0.5px 3.73px 0.5px;
}
.simple-box-content .Sbox-2 h4 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 260px;
  height: 42px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
}
.simple-box-content .Sbox-2 p {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 260px;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.simple-box-content .Sbox-3 {
  position: absolute;
  top: -600px;
  left: 960px;
  width: 252.67px;
  height: 309px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  gap: 20px;
  background: #ffffff;
  transition: 0.5s;
}
.simple-box-content .Sbox-3:hover {
  transform: scale(1.03);
}
.simple-box-content .Sbox-3 img {
  position: absolute;
  top: -170px;
  left: -160px;
  height: 51px;
  width: 51px;
  padding: 3.73px 0.5px 3.73px 0.5px;
}
.simple-box-content .Sbox-3 h4 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 260px;
  height: 42px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
}
.simple-box-content .Sbox-3 p {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 260px;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
/* SIMPLE-EASYER-SECTION-STYLE-END */

/* verification-panel-section-Start */
.verification-panel-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}
.verification-panel-section img{
}
/* verification-panel-section-End */
