.kyc-banner-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 22;
  margin-top: 100px;
}
.kyc-banner-section .kyc-banner-section-left {
  margin-left: 200px;
}
.kyc-banner-section .kyc-banner-section-left .solution {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #022424;
}
.kyc-banner-section .kyc-banner-section-left h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.kyc-banner-section .kyc-banner-section-left p {
  width: 560.75px;
  /* height: 112px; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.kyc-banner-section .kyc-banner-section-left button {
  width: 208px;
  height: 51px;
  padding: 15px 40px 15px 40px;
  border-radius: 30px;
  border: 1px solid white;
  background: #016363;
  gap: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.kyc-banner-section .kyc-banner-section-right img {
  width: 500px;
  height: 350px;
  gap: 0px;
  margin-left: 0px;
  margin-right: 80px;
}

/* identify-bottom-section-style-start */
.identify-bottom-section {
  width: 1200px;
  height: 296px;
  padding: 30px 0px 0px 0px;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 5px;
  margin-bottom: 150px;
  margin-top: 100px;
}
.identify-bottom-section .ibox1 {
  width: 530px;
  height: 90px;
  padding: 20px 30px 20px 30px;
  border-radius: 2px;
  border: 1px;
  gap: 0px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.identify-bottom-section .ibox1:hover {
  transform: scale(1.03);
}
.identify-bottom-section .ibox2:hover {
  transform: scale(1.03);
}
.identify-bottom-section .ibox3:hover {
  transform: scale(1.03);
}
.identify-bottom-section .ibox4:hover {
  transform: scale(1.03);
}
.identify-bottom-section .ibox2 {
  width: 530px;
  height: 90px;
  padding: 20px 30px 20px 30px;
  border-radius: 2px;
  border: 1px;
  gap: 0px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.identify-bottom-section .ibox3 {
  width: 530px;
  height: 90px;
  padding: 20px 30px 20px 30px;
  border-radius: 2px;
  border: 1px;
  gap: 0px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.identify-bottom-section .ibox4 {
  width: 530px;
  height: 90px;
  padding: 20px 30px 20px 30px;
  border-radius: 2px;
  border: 1px;
  gap: 0px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.identify-bottom-section .ibox1 img {
  background: none;
}
.identify-bottom-section .ibox1 .ititle {
  width: 267px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  position: absolute;
  top: 18px;
  left: 40px;
}
.identify-bottom-section .ibox1 .itext {
  width: 400px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 50px;
  left: 90px;
}

.identify-bottom-section .ibox2 img {
  background: none;
}
.identify-bottom-section .ibox2 .ititle {
  width: 367px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  position: absolute;
  top: 18px;
  left: 33px;
}
.identify-bottom-section .ibox2 .itext {
  width: 400px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 50px;
  left: 95px;
}

.identify-bottom-section .ibox3 img {
  background: none;
}
.identify-bottom-section .ibox3 .ititle {
  width: 267px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  position: absolute;
  top: 18px;
  left: 35px;
}
.identify-bottom-section .ibox3 .itext {
  width: 400px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 50px;
  left: 98px;
}

.identify-bottom-section .ibox4 img {
  background: none;
}
.identify-bottom-section .ibox4 .ititle {
  width: 267px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  position: absolute;
  top: 18px;
  left: 15px;
}
.identify-bottom-section .ibox4 .itext {
  width: 400px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 50px;
  left: 95px;
}
/* identify-bottom-section-style-end */

/* KYC-service-section-style-start */
.KYC-service-section {
  width: 1200px;
  height: 396px;
  padding: 30px;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 5px;
  margin-bottom: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.KYC-service-section .KYC-service-content-top h2 {
  width: 274px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.KYC-service-section .KYC-service-content-top p {
  width: 1134px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 9px;
}
.KYC-service-section .KYC-service-content-bottom {
  width: 100%;
  height: 398px;
  padding: 10px 0px 0px 0px;
  border: 1px;
  gap: 10px;
  background: #d9f1f1;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.KYC-service-section .KYC-service-content-bottom .KYC-left {
  background: none;
  margin-top: 0px;
  padding: 50px;
  gap: 20px;
}
.KYC-service-section .KYC-service-content-bottom .KYC-left h5 {
  background: none;
  height: 29px;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.KYC-service-section .KYC-service-content-bottom .KYC-left p {
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.KYC-service-section .KYC-service-content-bottom .KYC-right {
  background: none;
  padding: 50px;
}
.KYC-service-section .KYC-service-content-bottom .KYC-right h5 {
  background: none;
  height: 29px;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.KYC-service-section .KYC-service-content-bottom .KYC-right p {
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
/* KYC-service-section-style-end */

/* Administrative-Portal-Section-Style-Start */
.Administrative-Section {
  width: 100%;
  height: 1037px;
  padding: 100px 0px 200px 0px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.Administrative-Section img {
  width: 100%;
  height: 1037px;
  padding: 200px 0px 200px 0px;
  gap: 10px;
}
/* Administrative-Portal-Section-Style-End */

/* Seamless-integration-Section-Style-Start */
.Seamless-Section {
  width: 1200px;
  height: 106px;
  padding: 10px;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Seamless-Section .Seamless-Section-Top h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.Seamless-Section .Seamless-Section-Top p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 9px;
  color: #555555;
}

.Seamless-Section-Bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 1200px;
  margin: auto;
}
.Seamless-Section-Bottom .Sbox1 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox1:hover{
  transform: scale(1.05);
}
.Seamless-Section-Bottom .Sbox1 img {
  background: none;
}
.Seamless-Section-Bottom .Sbox1 h4 {
  width: 292.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 140px;
  background: none;
}
.Seamless-Section-Bottom .Sbox1 p {
  width: 232.33px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 45px;
  left: 140px;
}
.Seamless-Section-Bottom .Sbox2 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox2:hover{
  transform: scale(1.05);
}
.Seamless-Section-Bottom .Sbox2 img {
  background: none;
}
.Seamless-Section-Bottom .Sbox2 h4 {
  width: 292.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 140px;
  background: none;
}
.Seamless-Section-Bottom .Sbox2 p {
  width: 232.33px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 45px;
  left: 140px;
}
.Seamless-Section-Bottom .Sbox3 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox3:hover{
  transform: scale(1.05);
}
.Seamless-Section-Bottom .Sbox3 img {
  background: none;
}
.Seamless-Section-Bottom .Sbox3 h4 {
  width: 292.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 140px;
  background: none;
}
.Seamless-Section-Bottom .Sbox3 p {
  width: 232.33px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 45px;
  left: 140px;
}
.Seamless-Section-Bottom .Sbox4 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox4:hover{
  transform: scale(1.05);
}
.Seamless-Section-Bottom .Sbox4 img {
  background: none;
}
.Seamless-Section-Bottom .Sbox4 h4 {
  width: 292.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 140px;
  background: none;
}
.Seamless-Section-Bottom .Sbox4 p {
  width: 232.33px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 45px;
  left: 140px;
}
.Seamless-Section-Bottom .Sbox5 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox5:hover{
  transform: scale(1.05);
}
.Seamless-Section-Bottom .Sbox5 img {
  background: none;
}
.Seamless-Section-Bottom .Sbox5 h4 {
  width: 292.33px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 140px;
  background: none;
}
.Seamless-Section-Bottom .Sbox5 p {
  width: 232.33px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  position: absolute;
  top: 45px;
  left: 140px;
}
.Seamless-Section-Bottom .Sbox6 {
  width: 363.33px;
  height: 122px;
  padding: 0px 20px 0px 0px;
  border-radius: 2px;
  border: 1px solid #bfe8e8;
  gap: 19px;
  background: #39b4b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.Seamless-Section-Bottom .Sbox6 h3 {
  background: none;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.Seamless-Section-Bottom .Sbox6 p {
  background: none;
  text-align: left;
  margin-right: 150px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.Seamless-Section-Bottom .Sbox6:hover{
  transform: scale(1.05);
  background: #5c9898;
}
/* Seamless-integration-Section-Style-End */
