/* GOOGLE-FONT-START */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* GOOGLE-FONT-END */

* {
  margin: 0px;
  padding: 0px;
  background-color: #e7fffd;
}
/* HEADER-STYLE-START */
.header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.navbar {
  height: 62px;
  top: 36px;
  left: 16px;
  padding: 0px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Logo img {
  width: 143px;
  height: 44px;
}
.Main-Navigation .links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 37px;
  gap: 10px;
}
.Main-Navigation .links img:hover{
  background: #ffffff;
  border-radius: 10px;
}
.Main-Navigation .links li {
  list-style: none;
  width: 128px;
  /* height: 37px; */
  padding: 10px, 15px, 10px, 15px;
  gap: 10px;
}
.Main-Navigation .links li a {
  text-decoration: none;
  margin-right: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
  overflow: hidden;
  padding: 12px;
  text-transform: uppercase;
}
.Main-Navigation .links li a:hover {
  background: #ffffff;
  border-radius: 20px;
}
.links img {
  width: 20px;
  height: 20px;
  padding: 8px;
  margin-right: 20px;
}
.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 36px;
  gap: 12px;
}
.searchImg {
  width: 20px;
  height: 20px;
}
.userImg {
  width: 30px;
  height: 30px;
}
/* HEADER-STYLE-END */

/* BANNER-STYLE-START */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-content {
  margin-top: 110px;
  margin: auto;
}
.banner-content img {
  width: 390px;
  height: 383px;
  position: absolute;
  top: 90px;
  left: 597px;
}
.banner-content h2 {
  width: 974px;
  position: absolute;
  height: 43px;
  top: 460.03px;
  left: 330px;
  color: #016363;
  font-family: "Exo 2", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
.banner-content .extraP {
  width: 741px;
  font-size: 16px;
  position: absolute;
  height: 38px;
  top: 502.03px;
  left: 435px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: gray;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.banner-content .extraP1 {
  width: 741px;
  font-size: 16px;
  position: absolute;
  height: 38px;
  top: 525.03px;
  left: 430px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: gray;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.banner-content button {
  width: 208px;
  height: 51px;
  position: absolute;
  top: 563px;
  left: 695px;
  padding: 15px 40px 15px 40px;
  border-radius: 30px;
  border: 1px solid white;
  background: #022424;
  gap: 10px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
/* BANNER-STYLE-END */

/* IDENTITY-VERIFICATION-SECTION-STYLE-START */
.verification-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verification-section-top .section-header {
  margin-top: 830px;
}
.verification-section-top .section-header h1 {
  font-size: 32px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
.verification-section-top .section-header p {
  margin-top: 12px;
  font-size: 16px;
  width: 900px;
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.verification-section-top .section-header .verification-section-extraP {
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
/* IDENTITY-VERIFICATION-SECTION-STYLE-END */

/* IDENTITY-VERIFICATION-SECTION-STYLE-START */
.verification-section-botton {
  padding: 120px 0px 90px 0px;
  /* background-color: #D9F1F1; */
}
.verification-section-botton .section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 200px 0px 300px;
  padding: auto;
}
.verification-section-button .section-content .section-content-items-left {
  width: 695px;
  height: 486.04px;
}
.verification-section-button .section-content .section-content-items-right {
  width: 695px;
  height: 486.04px;
  color: #d9f1f1;
}
.verification-section-button .section-content .section-content-items-right img {
  width: 195.21px;
  height: 422.7px;
  top: 16.67px;
  left: 249.31px;
}
.verification-section-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 0px 300px 0px 400px;
}
.verification-section-buttom .Identity-Verification button {
  width: 205px;
  height: 51px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: 1px;
  margin-right: 15px;
  background-color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.verification-section-buttom .Identity-Verification button:hover {
  background-color: #d9f1f1;
}
.verification-section-buttom .Upload-Additional-Document button {
  width: 272px;
  height: 51px;
  font-size: 16px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: 1px;
  margin-right: 15px;
  background-color: #d9f1f1;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.verification-section-buttom .Upload-Additional-Document button:hover {
  background-color: white;
}
.verification-section-buttom .Face-Authentication button {
  width: 215px;
  height: 51px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: 1px;
  margin-right: 15px;
  background-color: #d9f1f1;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.verification-section-buttom .Face-Authentication button:hover {
  background-color: white;
}
.verification-section-buttom .Signature button {
  width: 205px;
  height: 51px;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: 1px;
  margin-right: 15px;
  background-color: #d9f1f1;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.verification-section-buttom .Signature button:hover {
  background-color: white;
}
/* IDENTITY-VERIFICATION-SECTION-STYLE-END */

/* Any-Industry-Anywhere-Section-style-Start */
.Any-Industry-Anywhere {
  padding: 120px 0px 50px 0px;
}
.Any-Industry-Anywhere .Any-Industry-Anywhere-Top {
  padding: 20px 0px 0px 200px;
}
.Any-Industry-Anywhere .Any-Industry-Anywhere-Top h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.Any-Industry-Anywhere .Any-Industry-Anywhere-Top p {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.Any-Industry-Anywhere-bottom {
  padding: 0px 200px 20px 200px;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxOne {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxOne:hover {
    transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxOne
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxOne h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxOne p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxOne
  .btn {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 27px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxTwo {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxTwo:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxTwo
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxTwo h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxTwo p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxTwo
  .btn {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 13px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxThree {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxThree:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxThree
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxThree
  h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxThree
  p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxThree
  .btn {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxFour {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxFour:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxFour
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxFour
  h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partOne .boxFour p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partOne
  .boxFour
  .btn {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxOne {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxOne:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxOne
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxOne h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxOne p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxOne
  .btn {
    font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 30px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxTwo {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxTwo:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxTwo
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxTwo h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxTwo p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxTwo
  .btn {
    font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: left;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom .Any-Industry-Anywhere-Bottom-partTwo .boxThree {
  width: 335px;
  height: 180px;
  padding: 30px;
  border-radius: 2px;
  border: 1px;
  margin-right: 19px;
  background: #d9f1f1;
  transition: 0.5s;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxThree:hover {
  transform: scale(1.04);
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxThree
  img {
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxThree
  h4 {
    font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background-color: #d9f1f1;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxThree
  p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #d9f1f1;
  margin-top: 15px;
}
.Any-Industry-Anywhere-bottom
  .Any-Industry-Anywhere-Bottom-partTwo
  .boxThree
  .btn {
    font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: left;
  background-color: #d9f1f1;
}
/* Any-Industry-Anywhere-Section-style-End */

/* A-True-Impact-of-Fully-Verified-KYC-platform-style-Start */
.KYC-platform {
  padding: 120px 0px 50px 0px;
}
.KYC-platform .KYC-platform-Top {
  padding: 20px 0px 0px 200px;
}
.KYC-platform .KYC-platform-Top h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.KYC-platform .KYC-platform-Top p {
  font-family: "Roboto", sans-serif;
  width: 1130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 10px;
}
.KYC-platform-Buttom {
  display: block;
  margin: auto;
  width: 1000px;
  height: 150px;
  padding: 60px;
  margin-top: 15px;
  border: 3px solid #d9f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.KYC-platform-Buttom-partOne {
  padding: 10px;
  border-radius: 2px;
  border-radius: 2px;
}
.KYC-platform-Buttom-partTwo {
  padding: 10px;
}
.KYC-platform-Buttom-partThree {
  padding: 14px;
}
.percent {
  font-family: "Exo 2", sans-serif;
  font-size: 96px;
  font-weight: 200;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}
.Audited {
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.AuditedExtra {
  font-family: "Exo 2", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.Kyc-Text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
/* A-True-Impact-of-Fully-Verified-KYC-platform-style-End */

/* things-Section-Style-Start */
.things-Section {
  padding: 80px 0px 50px 200px;
}
.things {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 423.23px;
}
.things .things-left {
}
.things .things-left h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px 0px 10px 0px;
}
.things .things-left p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  width: 500px;
}
.things .things-left .things-left-bottom {
  width: 500px;
  height: 288px;
  padding: 1px;
  gap: 10px;
  margin-top: 15px;
}
.things .things-left .things-left-bottom .exceptional {
  width: 478px;
  height: 40px;
  border-radius: 2px;
  border: 1px;
  background: #d9f1f1;
  padding: 15px 40px 0px 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.things .things-left .things-left-bottom h1 {
  width: 478px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d9f1f1;
  margin-top: 8px;
  padding: 15px 40px 0px 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.things .things-right {
  width: 500px;
  height: 210px;
  padding: 0px 100px 0px 0px;
  margin-top: 40px;
  margin-left: 0px;
}
.things .things-right h5 {
  width: 400px;
  height: 58px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.things .things-right p {
  width: 400px;
  height: 132px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
/* things-Section-Style-End */

/* Focused-Section-Style-Start */
.Focused-Section {
  width: 1400px;
  height: 706.46px;
  gap: 80px;
  padding: 80px 0px 50px 200px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Focused-Section .Focused-Section-left {
  width: 500px;
  height: 662.46px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentOne h3 {
  width: 498px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentOne .kyc {
  width: 500px;
  height: 57px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentOne p {
  width: 350px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 15px 0px 15px 0px;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentTwo h3 {
  width: 591px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentTwo .kyc {
  width: 500px;
  height: 57px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.Focused-Section .Focused-Section-left .Focused-Section-left-ContentTwo p {
  width: 350px;
  height: 21px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 15px 0px 15px 0px;
}
.Focused-Section-right {
  width: 800px;
  height: 706.46px;
  gap: 3px;
}
.Focused-Section-right img {
  width: 571.02px;
  height: 706.46px;
}
/* Focused-Section-Style-End */

/* OUR-PRODUCTS-Section-Style-Start */
.Our-Product {
  width: 1400px;
  height: 540px;
  padding: 80px 0px 50px 200px;
  gap: 10px;
}
.Our-Product .Our-Product-Content-Top {
  width: 1400px;
  height: 112px;
  gap: 12px;
}
.Our-Product .Our-Product-Content-Top h1 {
  width: 333px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.Our-Product .Our-Product-Content-Top p {
  width: 1150px;
  padding: 5px 400px 10px 0px;
  height: 57px;
  margin-top: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.Our-Product .Our-Product-Content-Bottom {
  width: 1180px;
  height: 378px;
  padding: 50px 0px 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Our-Product .Our-Product-Content-Bottom .box-1 {
  width: 380.33px;
  height: 290px;
  padding: 0px 0px 30px 0px;
  border-radius: 2px;
  border: 1px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Our-Product .Our-Product-Content-Bottom .box-1:hover {
  transform: scale(1.04);
}
.Our-Product .Our-Product-Content-Bottom .box-2 {
  width: 380.33px;
  height: 290px;
  padding: 0px 0px 30px 0px;
  border-radius: 2px;
  border: 1px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Our-Product .Our-Product-Content-Bottom .box-2:hover {
  transform: scale(1.04);
}
.Our-Product .Our-Product-Content-Bottom .box-3 {
  width: 380.33px;
  height: 290px;
  padding: 0px 0px 30px 0px;
  border-radius: 2px;
  border: 1px;
  background: #d9f1f1;
  position: relative;
  transition: 0.5s;
}
.Our-Product .Our-Product-Content-Bottom .box-3:hover {
  transform: scale(1.04);
}
.productImage {
  width: 80px;
  height: 81px;
  border: 0px, 1px, 1px, 0px;
  background: #e4f9f7;
}
.productHeader {
  position: absolute;
  top: 50px;
  left: 90px;
  background: #d9f1f1;
  font-family: "Exo 2", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.productContent {
  height: 70px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9f1f1;
  margin-left: 17px;
  margin-top: 17px;
}
.productMiddle {
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9f1f1;
  margin-left: 17px;
  margin-top: 7px;
}
.productButton {
  width: 76px;
  height: 19px;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9f1f1;
  margin-left: 17px;
  margin-top: 10px;
}
/* OUR-PRODUCTS-Section-Style-End */

/* NO-CODE-INTEIGRATION-SECTION-STYLE-START */
.Intrigration-Section {
  display: flex;
  justify-content: center;
}
.Intrigration-Section .Intrigration-Section-Image img {
  width: 1200px;
  height: 408px;
  padding: 0px 0px 0px 0px;
  margin-left: 50px;
}
/* NO-CODE-INTEIGRATION-SECTION-STYLE-END */

/* OUR-SERVICES-Style-SECTION-Start */
.OUR-SERVICES-SECTION {
  width: 1400px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.OUR-SERVICES-SECTION .our-section-top {
  width: 1100px;
  height: 112px;
  margin-top: 180px;
  margin-left: 110px;
}
.OUR-SERVICES-SECTION .our-section-top h1 {
  width: 315px;
  height: 43px;
  font-family: "Exo", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.OUR-SERVICES-SECTION .our-section-top p {
  width: 1180px;
  height: 57px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
  margin-right: 270px;
}
.our-section-bottom {
  height: 340px;
  gap: 10px;
  margin-left: 370px;
  margin-right: 180px;
  width: 1180px;
  padding: 50px 0px 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.our-section-bottom .box-1 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
}
.our-section-bottom .box-1:hover {
  transform: scale(1.04);
}
.our-section-bottom .box-2 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
}
.our-section-bottom .box-2:hover {
  transform: scale(1.04);
}
.our-section-bottom .box-3 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
}
.our-section-bottom .box-3:hover {
  transform: scale(1.04);
}
.our-section-bottom .box-4 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
}
.our-section-bottom .box-4:hover {
  transform: scale(1.04);
}
.our-section-bottom .box-5 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
}
.our-section-bottom .box-5:hover {
  transform: scale(1.04);
}
.our-section-bottom .box-6 {
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: #d9f1f1;
  transition: 0.5s;
  overflow: hidden;
}
.our-section-bottom .box-6:hover {
  transform: scale(1.04);
}
.sectionHeader {
  width: 258.5px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9f1f1;
  padding-left: 20px;
}
.sectionHeaderIdentity {
  width: 258.5px;
  height: 43px;
  font-family: "Exo 2", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9f1f1;
  padding-left: 20px;
}
.sectionContent {
  width: 258.5px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  background: #d9f1f1;
}
.sectionFooter {
  width: 258.5px;
  height: 19px;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  background: #d9f1f1;
}
/* OUR-SERVICES-Style-SECTION-End */

/* SIMPLE-EASYER-SECTION-STYLE-START */
.simpleEasyer-Section {
  width: 100%;
  height: 1279px;
  padding: 100px 0px 0px 0px;
  gap: 10px;
  margin-top: 400px;
}
.simpleEasyer-Section-content {
  width: 100%;
  height: 1179px;
  gap: 10px;
  background: #d9f1f1;
  /* padding: 300px 300px 0px 300px; */
}
.simpleEasyer-Section-content img {
  width: 1170px;
  height: 815px;
  margin-left: 200px;
  margin-right: 340px;
  margin-top: 200px;
  position: relative;
  background: none;
}
.simpleEasyer-Section-content h2 {
  position: absolute;
  top: 6800px;
  background: none;
  left: 580px;
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content p {
  position: absolute;
  top: 6888px;
  background: none;
  left: 620px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
.SimpleEasyerExtraP {
  position: absolute;
  top: 6860px;
  background: none;
  left: 420px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content .individual {
  position: absolute;
  top: 6960px;
  background: none;
  left: 600px;
  width: 182px;
  height: 52px;
  padding: 14px 38px 14px 38px;
  border-radius: 100px;
  gap: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
  z-index: 1;
  border: none;
}
.simpleEasyer-Section-content .Organization {
  position: absolute;
  top: 6960px;
  background: none;
  left: 750px;
  width: 204px;
  height: 52px;
  padding: 14px 38px 14px 38px;
  border-radius: 100px;
  gap: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: #00a1a1;
  border: none;
}
.simpleEasyer-Section-content .box-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.simpleEasyer-Section-content .box-1 {
  position: absolute;
  top: 7100px;
  background: none;
  left: 330px;
  width: 236px;
  height: 325px;
  padding: 31px 33px 31px 33px;
  border-radius: 2px;
  gap: 30px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: white;
  border: none;
  transition: 1.5s;
  border: 2px;
}
.simpleEasyer-Section-content .box-1:hover {
  border: 2px solid #00a1a1;
}
.simpleEasyer-Section-content .box-3:hover {
  border: 2px solid #00a1a1;
}
.simpleEasyer-Section-content .box-2:hover {
  border: 2px solid #ffffff;
}
.simpleEasyer-Section-content .box-1 .personal {
  left: 30px;
  top: 20px;
  width: 91px;
  height: 29px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content .box-1 .dolar {
  position: absolute;
  left: 30px;
  width: 96px;
  height: 66px;
  top: 59px;
  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
  background: none;
}
.simpleEasyer-Section-content .box-1 .month {
  position: absolute;
  width: 57px;
  height: 24px;
  top: 93.6px;
  left: 128px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PPFirst {
  position: absolute;
  top: 140px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .hr {
  position: absolute;
  top: 190px;
  left: 30px;
  width: 250px;
  /* height: 0.5px; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PP1 {
  position: absolute;
  top: 215px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PP2 {
  position: absolute;
  top: 240px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PP3 {
  position: absolute;
  top: 265px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PP4 {
  position: absolute;
  top: 289px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .PP5 {
  position: absolute;
  top: 245px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-1 .btn {
  position: absolute;
  top: 325px;
  left: 30px;
  width: 239px;
  height: 45px;
  padding: 15px 16px 15px 16px;
  border-radius: 30px;
  border: 1px solid #00a1a1;
  gap: 10px;
  background: #ffffff;
}
.simpleEasyer-Section-content .box-1 .btn:hover {
  background: #00a1a1;
  color: #e7fffd;
}
.simpleEasyer-Section-content .box-2 {
  position: absolute;
  top: 7100px;
  background: none;
  left: 645px;
  width: 236px;
  height: 325px;
  padding: 31px 33px 31px 33px;
  border-radius: 2px;
  gap: 30px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: white;
  border: none;
  border: 2px solid #00a1a1;
}
.simpleEasyer-Section-content .box-2 .personal {
  left: 30px;
  top: 20px;
  width: 91px;
  height: 29px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content .box-2 .dolar {
  position: absolute;
  left: 30px;
  width: 96px;
  height: 66px;
  top: 59px;
  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
  background: none;
}
.simpleEasyer-Section-content .box-2 .month {
  position: absolute;
  width: 57px;
  height: 24px;
  top: 93.6px;
  left: 128px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PPFirst {
  position: absolute;
  top: 140px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .hr {
  position: absolute;
  top: 190px;
  left: 30px;
  width: 250px;
  /* height: 0.5px; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PP1 {
  position: absolute;
  top: 215px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PP2 {
  position: absolute;
  top: 240px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PP3 {
  position: absolute;
  top: 265px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PP4 {
  position: absolute;
  top: 289px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .PP5 {
  position: absolute;
  top: 245px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-2 .btn {
  position: absolute;
  top: 325px;
  left: 30px;
  width: 239px;
  height: 45px;
  padding: 15px 16px 15px 16px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  gap: 10px;
  color: #ffffff;
  background: #00a1a1;
}
.simpleEasyer-Section-content .box-2 .btn:hover {
  background: #ffffff;
  border: 1px solid #00a1a1;
  color: #000;
}

.simpleEasyer-Section-content .box-3 {
  position: absolute;
  top: 7100px;
  background: none;
  left: 960px;
  width: 236px;
  height: 325px;
  padding: 31px 33px 31px 33px;
  border-radius: 2px;
  gap: 30px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: white;
  border: none;
  transition: 1.5s;
}
/* .simpleEasyer-Section-content .box-3:hover {
  transform: scale(1.1);
  border: 2px solid #00a1a1;
}
.simpleEasyer-Section-content .box-1:hover {
  transform: scale(1.1);
  border: 2px solid #00a1a1;
} */
.simpleEasyer-Section-content .box-3 .personal {
  left: 30px;
  top: 20px;
  width: 91px;
  height: 29px;
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.simpleEasyer-Section-content .box-3 .dolar {
  position: absolute;
  left: 30px;
  width: 96px;
  height: 66px;
  top: 59px;
  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
  background: none;
}
.simpleEasyer-Section-content .box-3 .month {
  position: absolute;
  width: 57px;
  height: 24px;
  top: 93.6px;
  left: 128px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PPFirst {
  position: absolute;
  top: 140px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .hr {
  position: absolute;
  top: 190px;
  left: 30px;
  width: 250px;
  /* height: 0.5px; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PP1 {
  position: absolute;
  top: 215px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PP2 {
  position: absolute;
  top: 240px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PP3 {
  position: absolute;
  top: 265px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PP4 {
  position: absolute;
  top: 289px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .PP5 {
  position: absolute;
  top: 245px;
  left: 30px;
  width: 250px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  background: none;
}
.simpleEasyer-Section-content .box-3 .btn {
  position: absolute;
  top: 325px;
  left: 30px;
  width: 239px;
  height: 45px;
  padding: 15px 16px 15px 16px;
  border-radius: 30px;
  border: 1px solid #00a1a1;
  gap: 10px;
  background: #ffffff;
}
.simpleEasyer-Section-content .box-3 .btn:hover {
  background: #00a1a1;
  color: #ffffff;
}
/* SIMPLE-EASYER-SECTION-STYLE-END */

/* ACCOUNT-SECTION-Style-START */
.Account-Section {
  width: 1919px;
  height: 740px;
  padding: 0px 0px 100px 0px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Account-Section-Left {
  height: 200px;
  gap: 3px;
  margin-top: 100px;
}
.Account-Section-Right {
  height: 540px;
  padding: 60px 100px 60px 0px;
}
.Account-Section-Left img {
  height: 460px;
  gap: 3px;
  margin-left: 0px;
}
.Account-Section-Right img {
  height: 540px;
  /* padding: 60px 0px 60px 0px; */
  gap: 12px;
  margin-right: 200px;
}
/* ACCOUNT-SECTION-Style-End */

/* CONTACT-US-SECTION-STYLE-START */
.contact-section {
  width: 1400px;
  height: 104px;
  padding: 28px 36px 28px 36px;
  border-radius: 2px;
  border: 1px;
  gap: 10px;
}
.contact-section-content img {
  width: 1400px;
  height: 104px;
  padding: 28px 36px 28px 36px;
  border-radius: 2px;
  border: 1px;
  gap: 10px;
}
/* CONTACT-US-SECTION-STYLE-END */

/* FOOTER-MENU-SECTION-STYLE-START */
.FooterMenu-section {
  width: 1400px;
  height: 104px;
  padding: 28px 36px 28px 36px;
  border-radius: 2px;
  border: 1px;
  gap: 10px;
}
.FooterMenu-section-content img {
  width: 1400px;
  height: 200px;
  padding: 68px 36px 28px 36px;
  border-radius: 2px;
  border: 1px;
  gap: 10px;
}
footer {
  height: 67px;
  padding: 204px 50px 0px 70px;
  border: 1px 0px 0px 0px;
  margin-top: 20px;
}
.footer-section{
  display: flex;
  justify-content: space-between;
}
.footer-section .footer-left{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 0px;
}
.footer-section .footer-right{
  margin-right: 0px;
}
/* FOOTER-MENU-SECTION-STYLE-END */
